# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\angular\jasmine\jasmine-standalone-4.4.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
